.form {
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 20px 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.submit {
  width: 120px;
  height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: auto;
  border: 1px solid gray;
}

.error {
  font-size: 12px;
  color: red;
}
